<!-- Menú de acciones -->
<div class="mb-4 flex justify-between">
  <div>
    <button
      type="button"
      class="bg-blue-500 text-white px-3 mx-1 py-1 rounded"
      (click)="modo = 'agregar'"
    >
      Agregar
    </button>
    <button
      type="button"
      class="bg-yellow-500 text-white px-3 mx-1 py-1 rounded"
      (click)="modo = 'editar'"
    >
      Editar
    </button>
    <button
      type="button"
      class="bg-red-500 text-white px-3 mx-1 py-1 rounded"
      (click)="modo = 'eliminar'"
    >
      Eliminar
    </button>
  </div>
</div>

<!-- Formulario -->
<form
  class="flex flex-wrap gap-2"
  [formGroup]="formulario"
  (ngSubmit)="ejecutarAccion()"
>
  <input
    formControlName="name"
    placeholder="Nombre"
    class="border p-1 rounded"
  />
  <input
    formControlName="last_name"
    placeholder="Apellido"
    class="border p-1 rounded"
  />
  <input
    formControlName="document"
    placeholder="Documento"
    class="border p-1 rounded"
  />
  <input
    formControlName="no_licencia"
    placeholder="N° Licencia"
    class="border p-1 rounded"
  />
  <input
    formControlName="no_fast_driver"
    placeholder="N° Fast Driver"
    class="border p-1 rounded"
  />

  <button type="submit" class="mt-2 bg-green-600 text-white px-3 py-1 rounded">
    {{
      modo === "agregar" ? "Agregar" : modo === "editar" ? "Editar" : "Eliminar"
    }}
  </button>
</form>

<h3 class="mt-6">Listado de Conductores</h3>
<div class="overflow-auto max-h-56 border bg-secondary rounded-md">
  <table class="w-full text-left">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Documento</th>
        <th>N° Licencia</th>
        <th>N° Fast Driver</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="cursor-pointer hover:bg-blue-300"
        *ngFor="let d of drivers"
        (click)="seleccionarDriver(d)"
      >
        <td>{{ d.name }}</td>
        <td>{{ d.last_name }}</td>
        <td>{{ d.document }}</td>
        <td>{{ d.no_licencia }}</td>
        <td>{{ d.no_fast_driver }}</td>
      </tr>
    </tbody>
  </table>
</div>
