<!-- header.component.html -->
<header class="flex items-center justify-between bg-gray-500 h-14">
  <!-- Título a la izquierda -->
  <h1 class="text-white text-lg text-center font-bold w-52 bg-slate-600 h-full">
    Your Title
  </h1>

  <!-- Div para logo y nombre de usuario a la derecha -->
  <div class="flex items-center space-x-3 bg">
    <!-- Logo (puede ser una imagen o icono) -->
    <span class="text-white font-medium"> Christian Salazar </span>
    <img
      src="assets/user-logo.png"
      alt="User Logo"
      class="w-8 h-8 rounded-full object-cover"
    />

    <!-- Nombre de usuario -->
  </div>
</header>
