<!-- Menú de acciones -->
<div class="mb-4 flex justify-between">
  <div>
    <button
      type="button"
      class="bg-blue-500 text-white px-3 mx-1 py-1 rounded"
      (click)="modo = 'agregar'"
    >
      Agregar
    </button>
    <button
      type="button"
      class="bg-yellow-500 text-white px-3 mx-1 py-1 rounded"
      (click)="modo = 'editar'"
    >
      Editar
    </button>
    <button
      type="button"
      class="bg-red-500 text-white px-3 mx-1 py-1 rounded"
      (click)="modo = 'eliminar'"
    >
      Eliminar
    </button>
  </div>
</div>

<!-- Formulario -->
<form
  class="flex flex-wrap gap-2"
  [formGroup]="formulario"
  (ngSubmit)="ejecutarAccion()"
>
  <input
    formControlName="name"
    placeholder="Nombre"
    class="border p-1 rounded"
  />
  <input
    formControlName="last_name"
    placeholder="Apellido"
    class="border p-1 rounded"
  />
  <input
    formControlName="document"
    placeholder="Documento"
    class="border p-1 rounded w-32"
  />
  <input
    formControlName="no_ci_auxiliar"
    placeholder="N° Auxiliar"
    class="border p-1 rounded w-32"
  />
  <input
    formControlName="no_ci_soporte_vital"
    placeholder="N° Soporte Vital"
    class="border rounded p-1"
  />

  <button type="submit" class="mt-2 bg-green-600 text-white px-3 py-1 rounded">
    {{
      modo === "agregar" ? "Agregar" : modo === "editar" ? "Editar" : "Eliminar"
    }}
  </button>
</form>

<h3 class="mt-6">Listado de Paramédicos</h3>
<div class="overflow-auto max-h-56 border bg-secondary rounded-md">
  <table class="w-full text-left">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Documento</th>
        <th>N° Auxiliar</th>
        <th>N° Soporte Vital</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="cursor-pointer hover:bg-blue-300"
        *ngFor="let p of auxiliares"
        (click)="seleccionarParamedico(p)"
      >
        <td>{{ p.name }}</td>
        <td>{{ p.last_name }}</td>
        <td>{{ p.document }}</td>
        <td>{{ p.no_ci_auxiliar }}</td>
        <td>{{ p.no_ci_soporte_vital }}</td>
        <td>{{ p.role }}</td>
      </tr>
    </tbody>
  </table>
</div>
