<h2 class="mb-2">Formulario de Ambulancias</h2>

<div class="mb-4 flex gap-2">
  <button
    type="button"
    class="bg-blue-500 text-white px-3 py-1 rounded"
    (click)="modo = 'agregar'"
  >
    Agregar
  </button>
  <button
    type="button"
    class="bg-yellow-500 text-white px-3 py-1 rounded"
    (click)="modo = 'editar'"
  >
    Editar
  </button>
  <button
    type="button"
    class="bg-red-500 text-white px-3 py-1 rounded"
    (click)="modo = 'eliminar'"
  >
    Eliminar
  </button>
</div>

<form [formGroup]="formulario" (ngSubmit)="ejecutarAccion()">
  <input formControlName="modelo" placeholder="Modelo" />
  <input formControlName="placa" placeholder="Placa" />
  <input formControlName="tipo" placeholder="Tipo de Ambulancia" />
  <input formControlName="ipsId" placeholder="ID IPS" type="number" />
  <select formControlName="estado">
    <option value="Activo">Activo</option>
    <option value="Libre">Libre</option>
  </select>
  <button
    type="submit"
    class="mt-2 bg-buttonAction text-white px-3 py-1 rounded mx-4"
  >
    {{
      modo === "agregar" ? "Agregar" : modo === "editar" ? "Editar" : "Eliminar"
    }}
  </button>
</form>

<hr />

<h3 class="my-3">Listado de Ambulancias</h3>

<div class="overflow-auto max-h-96 border bg-secondary rounded-md">
  <table class="w-full text-left">
    <thead class="text-center">
      <tr>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Tipo</th>
        <th>ID IPS</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let amb of ambulancias" (click)="seleccionarAmbulancia(amb)">
        <td>{{ amb.modelo }}</td>
        <td>{{ amb.placa }}</td>
        <td>{{ amb.tipo }}</td>
        <td>{{ amb.ipsId }}</td>
      </tr>
    </tbody>
  </table>
</div>
