<!-- layout.component.html -->
<div class="m-1 h-full">
  <div class="bg-gray-100 p-4">
    <!-- Render dinámico según opción seleccionada -->
    <app-home-component *ngIf="selectedView === 'home'"></app-home-component>
    <app-ambulance-component
      *ngIf="selectedView === 'ambulancia'"
    ></app-ambulance-component>
    <app-personal-component
      *ngIf="selectedView === 'personal'"
    ></app-personal-component>
    <app-services-component
      *ngIf="selectedView === 'servicios'"
    ></app-services-component>
    <app-turnos-component
      *ngIf="selectedView === 'turnos'"
    ></app-turnos-component>
  </div>
</div>
