<div class="p-6 bg-tertiary rounded shadow-md">
  <!-- Encabezado del turno -->
  <div class="flex justify-between items-center mb-6">
    <div>
      <h2 class="text-xl font-bold">Turno del Día</h2>
      <p class="text-sm text-gray-700">{{ fechaActual }} - {{ horaActual }}</p>
    </div>
    <div class="text-right">
      <p class="text-sm text-gray-600 font-semibold">Rango del Turno:</p>
      <p class="text-md font-medium">{{ turnoInicio }} - {{ turnoFin }}</p>
    </div>
  </div>

  <!-- Lista de ambulancias y responsables -->
  <div
    *ngFor="let turno of turnos"
    class="mb-4 border border-gray-300 rounded p-4 bg-white"
  >
    <h3 class="text-lg font-semibold mb-2">
      Ambulancia: {{ turno.ambulancia?.placa }} {{ turno.ambulancia?.tipo }}
    </h3>
    <ul class="ml-4 list-disc">
      <li>
        <strong>Paramédico:</strong>
        {{ turno.paramedico?.name }} ({{ turno.paramedico?.role }})
      </li>
      <li>
        <strong>Auxiliar:</strong>
        {{ turno.auxiliar?.name }} {{ turno.auxiliar?.last_name }} -
        {{ turno.auxiliar?.no_ci_auxiliar }}
      </li>
      <li>
        <strong>Conductor:</strong>
        {{ turno.conductor?.name }} {{ turno.conductor?.last_name }} -
        {{ turno.conductor?.no_licencia }}
      </li>
    </ul>
  </div>
</div>
