<div class="flex flex-col h-screen mx-4 border-0 bg-primary">
  <!-- Header -->
  <header class="h-42 bg-gray-500">
    <app-header></app-header>
  </header>
  <div class="bg-primary py-1">
    <app-nav-options></app-nav-options>
  </div>

  <!-- Main area: sidebar + content -->
  <div class="flex flex-1">
    <!-- Sidebar -->
    <nav class="bg-secondary w-52 h-full">
      <app-nav-dispatches></app-nav-dispatches>
    </nav>

    <!-- Content -->
    <main class="flex-1">
      <app-home></app-home>
    </main>
  </div>
</div>
